a {
    color: darkred;
}

.footer {
    flex: 0 0 auto;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    height: 17px;
}

.menu a li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-family: fantasy;
}

.menu a:hover {
    color: forestgreen;
    font-size: 20px;

}

input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 250px;
    height: 30px;
    margin: 10px 15px 10px 15px;
}

.button {
    background: cornflowerblue;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button:hover {
    background: blue;
}

.button:active {
    background: red;
}

.content form {
    display: flex;
    flex-direction: column;
}
